<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RevenueCat API Key</key>
	<string>appl_aDtbFhgFLuhNNSMvPnDchDAfKSL</string>
	<key>Term of Use Link</key>
	<string>https://sites.google.com/view/smart-mobile-tech/terms-of-use</string>
	<key>Privacy Policy Link</key>
	<string>https://sites.google.com/view/smart-mobile-tech/privacy-policy?authuser=0</string>
	<key>Weekly Product ID</key>
	<string>unlock.voicechanger.weekly</string>
	<key>Monthly Product ID</key>
	<string>unlock.voicechanger.monthly</string>
	<key>Annual Product ID</key>
	<string>unlock.voicechanger.annual</string>
	<key>Adjust App Token</key>
	<string>4t481tbl23uo</string>
	<key>Adjust Event Token</key>
	<string>c71p5d</string>
	<key>Adjust Subscription Token</key>
	<string>m6wo0x</string>
	<key>app_restored_store_purchase</key>
	<string>vus0h5</string>
	<key>in_app_purchase</key>
	<string>m640it</string>
	<key>app_open_billing_page</key>
	<string>ccexa7</string>
	<key>app_monthly_subscription_click</key>
	<string>8npin1</string>
	<key>app_monthly_subscription_failed</key>
	<string>8e8f95</string>
	<key>app_monthly_subscription_success</key>
	<string>c1fv4g</string>
	<key>app_weekly_subscription_click</key>
	<string>lh79p3</string>
	<key>app_weekly_subscription_failed</key>
	<string>jdo5kk</string>
	<key>app_weekly_subscription_success</key>
	<string>4muige</string>
	<key>app_yearly_subscription_click</key>
	<string>b0xq80</string>
	<key>app_yearly_subscription_failed</key>
	<string>8ljtk9</string>
	<key>app_yearly_subscription_success</key>
	<string>tyii1f</string>
	<key>app_push_token</key>
	<string>c71p5d</string>
	<key>interstitialAdUnitId</key>
	<string>ca-app-pub-1944147142676857/5762361909</string>
	<key>bannerAdUnitId</key>
	<string>ca-app-pub-1944147142676857/8871725062</string>
	<key>isUMPDisabled</key>
	<true/>
	<key>FacebookAppID</key>
	<string>798130175032196</string>
	<key>FacebookClientToken</key>
	<string>f45e7f5d599f2ac33fe7400c7efdef68</string>
	<key>FacebookDisplayName</key>
	<string>App</string>
	<key>OneSignalKey</key>
	<string>f39ff004-ec48-4da0-8038-b57760074ffd</string>
	<key>MailchimpKey</key>
	<string>7fb3a525c9263da65b1ba06a39e91bb9-us12</string>
	<key>Purchasely API Key</key>
	<string>7389d864-34e8-426b-a588-4d32546e3412</string>
</dict>
</plist>
