<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RevenueCat API Key</key>
	<string>appl_aDtbFhgFLuhNNSMvPnDchDAfKSL</string>
	<key>Adjust App Token</key>
	<string>4t481tbl23uo</string>
	<key>Adjust Event Token</key>
	<string>c71p5d</string>
	<key>Adjust Subscription Token</key>
	<string>m6wo0x</string>
	<key>app_restored_store_purchase</key>
	<string>vus0h5</string>
	<key>FacebookAppID</key>
	<string>798130175032196</string>
	<key>FacebookClientToken</key>
	<string>f45e7f5d599f2ac33fe7400c7efdef68</string>
	<key>FacebookDisplayName</key>
	<string>App</string>
	<key>OneSignalKey</key>
	<string>f39ff004-ec48-4da0-8038-b57760074ffd</string>
	<key>MailchimpKey</key>
	<string>7fb3a525c9263da65b1ba06a39e91bb9-us12</string>
	<key>Purchasely API Key</key>
	<string>7389d864-34e8-426b-a588-4d32546e3412</string>
</dict>
</plist>
