<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12543742191-33n6246db089pnuj1ltoa4dsd4e1radf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12543742191-33n6246db089pnuj1ltoa4dsd4e1radf</string>
	<key>API_KEY</key>
	<string>AIzaSyC2QML182wGszxw8gqOGA06dh-c3uCiGJk</string>
	<key>GCM_SENDER_ID</key>
	<string>12543742191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartmobile.voicechanger</string>
	<key>PROJECT_ID</key>
	<string>voice-changer-84b83</string>
	<key>STORAGE_BUCKET</key>
	<string>voice-changer-84b83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12543742191:ios:decf5c0423576e38c9cb1a</string>
	<key>DATABASE_URL</key>
	<string>https://voice-changer-84b83-default-rtdb.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-1944147142676857~1276321986</string>
</dict>
</plist>